body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}
.h-1 {
  background-color: cadetblue;
  border: 10px solid cadetblue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  text-align: center;
}
.headline {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.p-1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 900px) {
  body {
    background-color: aqua; 
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: aquamarine;
  }  
}
  @media screen and (max-width: 320px) {
  body {
    background-color: purple;
  }
}
    